@{
    ViewBag.Title = "Pagrindinis";
}

<div class="jumbotron">
    <h1>Virtuali Krepšinio Lyga</h1>
    <p class="lead">Vilniaus Universiteto Matematikos ir Informatikos fakulteto Programų sistemų specialybės II kurso 2 grupės studento Irmanto Ivanausko laboratorinis darbas Taikomojo objektinio programavimo kurso paskaitai.</p>
</div>